.forecast-grid {
    display: grid;

    /* selalu 3 kolom */
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

    width: 100%;

    margin: clamp(16px, 3vw, 30px) 0;
}

.forecast-card {
    color: whitesmoke;

    width: 100%;

    min-height: clamp(130px, 18vw, 180px);

    padding:
        clamp(14px, 2vw, 20px)
        clamp(14px, 3vw, 50px);

    transition: .3s;

    background:
        linear-gradient(
            135deg,
            rgba(255,255,255,.1),
            rgba(255,255,255,0)
        );

    backdrop-filter: blur(10px);

    border-radius:
        clamp(18px, 2vw, 30px);

    border:
        1px solid
        rgba(255,255,255,.18);

    overflow: hidden;
}

.forecast-card:hover {
    transform: translateY(-4px);
}

.forecast-date {
    display: flex;

    justify-content: center;

    font-size:
        clamp(14px, 2vw, 24px);

    font-weight: 100;

    margin-bottom:
        clamp(10px, 2vw, 20px);

    text-align: center;
}


/* INI YANG PINDAH OTOMATIS */
.forecast-main {
    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    gap:30px;
}

.weather-icon {

    width:
        clamp(50px, 8vw, 100px);

    height:
        clamp(50px, 8vw, 100px);

    object-fit: contain;

    flex-shrink: 0;
}


.temperature {
    display: flex;

    justify-content: center;

    align-items: center;

    max-width: 100px;
}

.temp-value {

    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;

    font-weight: 100;
}

.value {

    font-size:
        clamp(18px, 3vw, 42px);

    font-weight: 200;

    line-height: .9;

    color: white;
}

.weather-desc {

    margin-top:
        clamp(4px, 1vw, 8px);

    font-size:
        clamp(9px, 1.2vw, 15px);

    text-transform: uppercase;

    letter-spacing:
        clamp(.3px, .1vw, .9px);

    opacity: .8;

    line-height: 1.2;

    word-break: break-word;
}


/* tablet */
@media (max-width: 768px) {

    .forecast-grid {
        gap: 18px;
    }

    .forecast-main {
        flex-direction: column;
    }
}