<div class="forecast-grid">
  <div class="forecast-card" *ngFor="let day of forecastDays">
    <div class="forecast-date">
      {{ day.date | uppercase }}
    </div>

    <div class="forecast-main">
      <img
        [src]="getWeatherIcon(day.icon)"
        [alt]="day.weather"
        class="weather-icon"
      />

      <div class="temperature">
        <div class="temp-value">
          <span class="value"> {{ day.temp }}°C </span>

          <span class="weather-desc">
            {{ day.weather }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
