.search-wrapper {
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    position: relative;
}

.search-box {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 16px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.search-box i {
    color: whitesmoke;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 14px 12px;
    font-size: 14px;
    color: whitesmoke;
}

input::placeholder {
    color: whitesmoke;
}

.clear-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    color: #94A3B8;
    transition: 0.2s;
}

.clear-btn:hover {
    color: #374151;
}


.suggestions {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    z-index: 9999;
    max-height: 300px;
    overflow-y: auto;
    color: whitesmoke;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255,255,255,0.3));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.suggestion-item {
    padding: 12px 16px;

    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 12px;

    cursor: pointer;

    transition: background 0.2s;
}

.suggestion-item:hover {
    color: rgb(190, 190, 190);
}

.location-info {
    flex: 1;
}

.location-name {
    font-size: 14px;
}


