.hourly-forecast {
    padding: 20px 50px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 28px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.forecast-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: none;
}

.forecast-list::-webkit-scrollbar {
    display: none;
}

.forecast-item {
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: whitesmoke;
}

.forecast-item.active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.forecast-item:hover {
    transform:
        translateY(-4px);
}

.time {
    font-size: 16px;
}

.forecast-item img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.temp {
    font-size: 20px;
    font-weight: 100;
}

@media (max-width: 1024px) {

    .hourly-forecast {
        padding: 20px 30px;
    }

    .forecast-list {
        gap: 14px;
    }

    .forecast-item {
        min-width: 70px;

        gap: 14px;
    }

    .forecast-item img {
        width: 48px;

        height: 48px;
    }

    .time {
        font-size: 15px;
    }

    .temp {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .hourly-forecast {
        padding: 15px 15px;
    }

    .forecast-list {
        gap: 8px;
    }

    .forecast-item {
        min-width: 50px;

        gap: 8px;
    }

    .forecast-item img {
        width: 35px;

        height: 35px;
    }

    .time {
        font-size: 11px;
    }

    .temp {
        font-size: 13px;
    }

}